# Server
HOST=0.0.0.0
PORT=1337
APP_KEYS=toBeModified1,toBeModified2
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
ENCRYPTION_KEY=tobemodified
JWT_SECRET=tobemodified

# Database (MySQL)
DATABASE_CLIENT=mysql
DATABASE_HOST=127.0.0.1
DATABASE_PORT=3306
DATABASE_NAME=cvdd
DATABASE_USERNAME=root
DATABASE_PASSWORD=
DATABASE_SSL=false

# CORS
FRONTEND_URL=http://localhost:5173
